{% extends 'common/layout.html' %}
{% block title %} About {% endblock %}
{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header">
        <h1 class="display-3 text-uppercase text-white mb-3">Thông tin</h1>
        <div class="d-inline-flex text-white">
            <h6 class="text-uppercase m-0"><a class="text-white" href="/">Home</a></h6>
            <h6 class="text-body m-0 px-3">/</h6>
            <h6 class="text-uppercase text-body m-0">About</h6>
        </div>
    </div>
    <!-- Page Header Start -->


    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <h1 class="display-4 text-uppercase text-center mb-5">Welcome To <span class="text-primary">Royal Cars</span></h1>
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <img class="w-75 mb-4" src="/media/img/about.png" alt="">
                    <p>Chúng tôi chuyên cung cấp dịch vụ cho thuê xe 4 chỗ – 7 chỗ tự lái tại khu vực Sài Gòn TP.HCM. Bên cạnh đó, Thuê xe tự lái Sài Gòn cho thuê đưa đón Sân Bay, phục vụ xe Cưới Hỏi hạng sang và trung. Xe chạy hợp đồng theo các Tour Du Lịch, xe chạy theo tháng cho Công Ty. Dịch vụ giao xe tận nhà khách hàng. Bạn chỉ cần gọi điện thoại, chúng tôi sẽ mang xe qua tận nhà cho bạn. Cam kết giá thuê xe luôn luôn tốt nhất. Chính sách giảm giá cho khách hàng thân thiết.</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-headset text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">Hỗ trợ 24/7</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-secondary p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-car text-secondary"></i>
                        </div>
                        <h4 class="text-light text-uppercase m-0">Thuê xe mọi lúc</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="d-flex align-items-center bg-light p-4 mb-4" style="height: 150px;">
                        <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary ml-n4 mr-4" style="width: 100px; height: 100px;">
                            <i class="fa fa-2x fa-map-marker-alt text-secondary"></i>
                        </div>
                        <h4 class="text-uppercase m-0">Xe luôn trong trạng thái mới</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->


    <!-- Banner Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row mx-0">
                <div class="col-lg-6 px-0">
                    <div class="px-5 bg-secondary d-flex align-items-center justify-content-between" style="height: 350px;">
                        <img class="img-fluid flex-shrink-0 ml-n5 w-50 mr-4" src="/media/img/banner-left.png" alt="">
                        <div class="text-right">
                            <h3 class="text-uppercase text-light mb-3">Bạn cần tài xế ?</h3>
                            <p class="mb-4">Đội ngũ tài xế của chúng tôi luôn săn sàng để phục vụ quý khách</p>
                            <a class="btn btn-primary py-2 px-4" href="">Start Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 px-0">
                    <div class="px-5 bg-dark d-flex align-items-center justify-content-between" style="height: 350px;">
                        <div class="text-left">
                            <h3 class="text-uppercase text-light mb-3">Bạn muốn thuê xe ?</h3>
                            <p class="mb-4">Chúng tôi luôn có những chiếc xe mới toanh sẵn sàng phục vụ bạn</p>
                            <a class="btn btn-primary py-2 px-4" href="">Start Now</a>
                        </div>
                        <img class="img-fluid flex-shrink-0 mr-n5 w-50 ml-4" src="/media/img/banner-right.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Banner End -->


    <!-- Vendor Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-1.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-2.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-3.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-4.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-5.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-6.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-7.png" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="/media/img/vendor-8.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
{% endblock %}