<!DOCTYPE html>
<html lang="en">

{%include 'common/head.html'%}

<head>
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <!-- Header -->
    {%include 'common/header.html'%}
    <!-- End Header -->

    
    <!-- Content -->
    {% block content %}
    {% endblock %}
    <!-- End Content -->

    <!-- Footer Start -->
    {%include 'common/footer.html'%}
    <!-- Footer End -->


    <!-- Back to Top -->
    {%include 'common/backtotop.html'%}


    <!-- JavaScript Libraries -->
    {%include 'common/scripts.html'%}
    
</body>

</html>