<!DOCTYPE html>
<html lang="en">
    {%include 'common/head.html'%}
<head>
    <title>{% block title %}Login{% endblock title %}</title>
</head>
<body>
    <form method="POST" action="{% url "login" %}">
      {% csrf_token %}
      <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Đăng nhập</h3>
      
                  <div class="form-outline mb-4">
                    <input type="email" name = "femail" class="form-control form-control-lg" />
                    <label class="form-label" for="typeEmailX-2">Email</label>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" name = "fpassword" class="form-control form-control-lg" />
                    <label class="form-label" for="typePasswordX-2">Password</label>
                  </div>
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Đăng nhập</button>
      
                  <hr class="my-4">
                  <label class="form-check-label lb-right" for="form1Example3"> <a href="/register">Đăng ký</a> </label>
                  
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </form>
      {%include 'common/scripts.html'%}
</body>
</html>